@{
    ViewBag.Title = "Inicio";
}

<!--Cover Seccion-->
<div>
	<div id="CoverSeccion">
		<div class="col-md-1 col-lg-1 .hidden-sm"></div>
		<div class="col-lg-10 col-md-10">
			<h4 id="coverText">BarberShop Godoy</h4>
			<br />
			<a href="@Url.Action("Index", "services")" class="btn btn-primary" role="button" ID="botonGigante" Font-Size="Large" Height="78px">Servicios</a>

		</div>
		<div class="col-md-1 .hidden-sm"></div>
	</div>
</div>
<!-- Section Inicio -->
<div id="Inicio">
	<div class="col-md-9">
		<h1 style="text-align: left; color: black;">Reserve en línea ahora</h1>
		<h3>AHORA OFRECEMOS LA RESERVA EN LÍNEA EL MISMO DÍA, DISPONIBLE DURANTE EL HORARIO COMERCIAL DE LA TIENDA</h3>
		<strong>Haga clic en el botón de abajo para reservar su lugar en línea.</strong><br /><br />
		<a href="@Url.Action("Index", "services")" class="btn btn-primary" role="button" ID="btnAgendarCita" Font-Size="Large" Height="78px">HACER UNA CITA</a>
			<p><br />Tenga en cuenta que la reserva solo está disponible durante el horario comercial. Si está intentando reservar un lugar fuera del horario comercial O si la tienda está llena durante el día, la reserva en línea no estará disponible. Si el barbero que desea seleccionar no aparece como una opción, sus citas ya se han reservado para el día o no están hoy. </p>
</div>
	<div class="col-md-3" style="max-width: 700px;">
		<h3>UBICACIÓN</h3>
		<p>5 de Febrero 818 Sur, Col. Centro CP 85000</p>
		<br />
		<h3>HORARIO</h3>
		<p>
			<b>Lun-Vie</b> 9am-6pm
			<br />
			<b>Sáb</b> 9am-2pm
			<br />
			<b>Dom</b> Cerrado
		</p>
		<br />
		<h3>TELÉFONO</h3>
		<p>(644) 163-6332</p>
	</div>
</div>

<!--Nosotros-->
<div>
	<div id="Nosotros">
		<div class="col-md-1 col-lg-1 .hidden-sm"></div>
		<div class="col-lg-10 col-md-10">
			<h2><b>Experimenta la mejor barbería de la ciudad</b></h2>
			<p id="nosotrosText">Hemos mezclado cuidadosamente la experiencia de la barbería tradicional con la cultura moderna de hoy. Puede esperar la preparación de hombres de la más alta calidad realizada por nuestro personal de barberos expertos. Encontrará una tienda ocupada llena de un ambiente relajado y masculino. Ofrecemos cortes de pelo para hombres, afeitados con espuma caliente, cortes de barba y bigote (completos o parciales)</p>
			<br />
		</div>
		<div class="col-md-1 .hidden-sm"></div>
	</div>
</div>